
@model SliderVMVC


<!-- SLIDER START -->
        <section id="slider">
            <div class="owl-carousel slider">
        @foreach (var item in Model.Sliders)
        {
                    <div> <img src="~/img/@item.Name" alt=""> </div>
        }
            </div>
            <div class="container context pl-lg-5 ml-lg-3">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="text">
                    @Html.Raw(@Model.SliderInfos.Title)
                            <p class="text-black-50 d-none d-sm-block">@Model.SliderInfos.Description</p>
                        </div>
                        <div class="img">
                            <img src="~/img/@Model.SliderInfos.Signature" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SLIDER END -->