@model List<Blog>
@{
    ViewData["Title"] = "Index";
}




<section id="blog">
    <div class="container">
        <div class="row py-5">
            <div class="offset-lg-3 col-lg-6">
                <div class="section-title">
                    <h1>From our Blog</h1>
                    <p class="text-black-50">
                        A perfect blend of creativity, energy, communication, happiness and
                        love. Let us arrange
                        a smile for you.
                    </p>
                </div>
            </div>
        </div>
         <div class="row pb-5 blogs-area">

        <partial name="_BlogsPartial" model="Model" />
        </div>

        <div class="show-more d-flex justify-content-center mt-4 mb-4">
            <button class="btn btn-success">Show More</button>
        </div>
    </div>
</section>



@section js{
    <script src="~/js/blog.js"></script>
}